<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %> <% if(error_msg != ''){ %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %> <% if(error != ''){ %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
        
        
      <form action="/register" method="POST">
        <div class="modal-body">

          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="regemail"
              aria-describedby="emailHelp"
              name="email"
              required
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="regname"
              name="name"
              required
            />
          </div>
          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="regpassword"
              name="password"
              required
            />
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary m-3">
          Register</button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="login">Login</a></p>
    </div>
  </div>
</div>
